
name: CI
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: testspace-com/setup-testspace@v1
        with:
          domain: mulsikxo01
      - run: |
          woorkersd=$(date +"%Y%m%d%H%M%S")
          echo $woorkersd
      - name: Push result to Testspace server
        run: |
          testspace ./results/*.xml coverage.xml
        if: always()
      
